<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/Styles.css" rel="stylesheet" id="css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        {%block success%}
        {%endblock%}

<div class="wrapper fadeInDown">

        <!-- Data entry block -->
        {%block form_content%}
        {%endblock%}


</div>

</body>
</html>