{%extends "base.html"%}
{%block form_content%}
    <div id="formContent">
        <div>
            <div class="fadeIn first">
              <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/BMI_logo.svg" id="icon" alt="User Icon" />
            </div>

            <div>
                {{text | safe}}
            </div>

            <form action="{{url_for('success')}}" method="POST">
                <input type="text" id="Email" class="fadeIn second" name="email" placeholder="Email address">
                <input type="text" id="Height" class="fadeIn third" name="height" placeholder="Height (in cm)">
                <input type="text" id="Weight" class="fadeIn third" name="weight" placeholder="Weight (in kg)">
                <input type="submit" class="fadeIn fourth" value="Calculate">
            </form>
        </div>
    </div>
{%endblock%}